*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color:black;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none !important;
}
.flex{
    display: flex;
}
.none{
    display: none;
}
.justCenter{
    justify-content: center;
}
.justBetween{
    justify-content:space-between;
}
.justAround{
    justify-content:space-around;
}
.justEvenly{
    justify-content:space-evenly;
}
.alignBetween{
    align-items:space-between;
}
.alignCenter{
    align-items: center;
}
.flexColumn{
    flex-direction: column;
}
.alignEnd{
    align-items: flex-end;
}
.justEnd{
    justify-content: flex-end;
}
.textBlack{
    color: black;
}
.backBlack{
    background-color:black;
}
.textRed{
    color: rgb(229,0,16);
}
.textWhite{
    color:white;
}
.backWhite{
    background-color:white;
}
.wrap{
    flex-wrap: wrap;
}
.textCenter{
    text-align: center;
}